1 VERSIONINFO
FILEVERSION 1,0,0,---WCREV---
PRODUCTVERSION 1,5
FILEOS 0x4
FILETYPE 0x1
FILESUBTYPE 0x0L
FILEFLAGSMASK 0x3fL
{
BLOCK "StringFileInfo"
{
          BLOCK "040904E4"
          {
                    VALUE "CompanyName", "\0"
                    VALUE "FileDescription", "\0"
                    VALUE "FileVersion", "1.0.0.---WCREV---\0"
                    VALUE "InternalName", "\0"
                    VALUE "LegalCopyright", "\0"
                    VALUE "LegalTrademarks", "\0"
                    VALUE "OriginalFilename", "\0"
                    VALUE "ProductName", "\0"
                    VALUE "ProductVersion", "1.5\0"
                    VALUE "Author", "\0"
          }
}
BLOCK "VarFileInfo"
{
          VALUE "Translation", 0x0419 0x04E4
}
}